body {
    background: url('/static/bg.gif');
}

.rainbow-text {
    color: red;
    animation: rainbow_animation 1s step-end infinite;
}

@keyframes rainbow_animation {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: green;
    }

    60% {
        color: blue;
    }

    80% {
        color: violet;
    }

    100% {
        color: violet;
    }
}