body {
	background-color:  #222;
}

.center_title {
	text-align: center;
	color: #fff;
	font-family: "Arial";
}

.items_container {

}

.item {
	font-family: "Courier";
	background-color: #444;
	color: #fff;
	padding: 25px 25px 25px 25px;
	margin: 25px 0px 25px 0px;
}

.item_name {
	font-weight: bold;
}

.item_text {

}