body {
    background-color: #55AAAA;
    padding: 32px;
}

.window-container {
    width: 100%;
    height: 100%;
}

.window {
    background-color: #C2C6CA;
    width: 100%;
    height: 100%;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #85898D;
    border-right: 2px solid #85898D;
    box-shadow: -2px -2px 0px 0px #C2C6CA, 0px 0px 0px 2px #000000;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: #0000AA;
    margin-bottom: 4px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    background-color: #0000AA;
    background-image: url("img/bottom_loop.png");
}

.canvas {
    background-color: #85898D;
    width: 100%;
    height: 100%;
}